<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    
    <!-- ========== Exception ========== -->
    <bean id="functionalException" class="com.dummy.myerp.technical.exception.FunctionalException"></bean>
    <bean id="notFoundException" class="com.dummy.myerp.technical.exception.NotFoundException"></bean>
    <bean id="technicalException" class="com.dummy.myerp.technical.exception.TechnicalException"></bean>
    <!-- TODO bean nullFactoryBean?-->
    <!--<bean id="nullFactoryBean" class="com.dummy.myerp.technical.util.spring.NullFactoryBean"></bean>-->

</beans>
